.Card {
  background-color: #fff;
  width: 250px;
  display: flex;
  flex-direction: column;
}
.Card h2 {
  margin-top: 20px;
  padding: 0 10px;
  font-size: 25px;
  font-weight: 600;
}
.Card p {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 15px;
  padding: 0 10px;
  font-weight: 500;
  color: #666;
}
